%h1 
  Artikel für 
  = @supplier.name 
  hochladen
%p
  %i Bitte (BNN-)Datei zum upload auswählen
#uploadArticles.uploadForm
  = form_for(:articles, :url => {:controller => 'articles', :action => 'parse'}, :html => { :multipart => true }) do |form|
    %p
      Upload: 
      = form.file_field("file")
    %p
      Datei-Format auswählen:
      %select{:name => 'type'}
        = options_for_select({"FoodSoft-Datei" => "foodsoft", "BNN-Datei" => "bnn"}, "foodsoft")
    %p
      Zeichenkodierung:
      %select{:name => 'character_set'}
        = options_for_select({"UTF-8" => "UTF-8", "IBM850 (Terra)" => "IBM850",
        "ISO-8859-15 (Ökotpia)" => "ISO-8859-15"}, "UTF-8")
    %p
      = check_box_tag :delete_existing
      = label_tag :delete_existing, "Delete existing articles first"

    = submit_tag("Artikel hochladen")
    = hidden_field_tag :supplier_id, @supplier.id
%p= link_to 'zurück', supplier_articles_url(@supplier)