= simple_form_for @supplier do |f|
  = f.input :name
  = f.input :address
  = f.input :phone
  = f.input :phone2
  = f.input :fax
  = f.input :email
  = f.input :url
  = f.input :delivery_days
  /= f.input :order_howto, as: :text, input_html: {rows: 5}
  = f.input :note, as: :text, input_html: {rows: 5, cols: 60}
  /= f.input :min_order_quantity
  /= f.input :article_info_url

  = f.input :bnn_sync
  %div#bnn_details{style: @supplier.bnn_sync ? '' : 'display: none'}
    = f.input :bnn_host
    = f.input :bnn_user
    = f.input :bnn_password

  .form-actions
    = f.submit class: 'btn'
    = link_to t('ui.or_cancel'), (@supplier.new_record? ? suppliers_path : supplier_path(@supplier))


  - content_for :javascript do
    :javascript
      $(document).on('change', '#supplier_bnn_sync', function() {
        $('#bnn_details').toggle(this.checked);
      });
