%h1 Lieferanten
%table
  %tr
    %th Name
    %th Adresse
    %th Telefon
    %th Liefertage
    %th Notiz
    %th Zuletzt aktualisiert
    %th
  - for supplier in @suppliers
    %tr
      %td= link_to supplier.name, supplier_path(supplier)
      %td= supplier.address
      %td= supplier.phone
      %td= supplier.delivery_days
      %td= supplier.note
      %td= I18n.l supplier.articles_updated_at rescue nil
      %td= link_to  supplier.articles.size.to_s + ' Artikel', supplier_articles_url(supplier)

%br/
= link_to 'Neuer Lieferant', new_supplier_url
    