!!!
%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title=h "SharedLists: " + controller.controller_name
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
  %body
    #content
      - if flash[:notice]
        %h3{:style => "color: green"}= flash[:notice]
      - if flash[:error]
        %h3{:style => "color: red"}= flash[:error]
      = yield
    #footer
      %hr/
      - if current_user.present?
        Logged in as #{current_user.email}, #{link_to("log out", log_out_path)}
      - else
        = link_to "Log in", log_in_path

    = javascript_include_tag 'application'
    = yield :javascript
